---
import background from '../assets/background.svg';
import { DREAMS } from '../mocks/dreams';
import DreamItem from './DreamItem.astro';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<div class="dreams">
		{
			DREAMS.map((dream) => (
				<DreamItem 
					description={dream.description}
					info={dream.info}
					position = {{
						desktop: { top: dream.position.desktop.top, left: dream.position.desktop.left },
					}}
				/>
			))
		}
	</div>
	<main>
		<section id="hero">
			<h1 id="title">What's your dream?</h1>
			<button class="button">
				Share your dream
			</button>
			

		</section>
	</main>
</div>

<style>

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(30px);
	}

	#title {
		font-size: 7em;
		margin: 0;
		text-align: center;
		z-index: 999;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		display: flex;
		height: 100%;
		position: relative;
	}

	main {
		height: 100%;
		width: 100%;
		display: flex;
	}

	#hero {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 32px;
		padding: 16px;
		width: 100%;
		
	}

	.button {
		padding: 16px 24px;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
		color: white;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		transition: color 0.2s;
	}

	.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	@media (width <= 768px) {
		#title {
			font-size: 4em;
		}

		.dreams {
			width: 100%;
		}
	}
	
</style>
